COOKIE_SESSION_SECRET="mysecret"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="https://localhost:5173/auth/google/callback"
MONGODB_DATA_API_URL=""
MONGODB_DATA_API_KEY=""
CDN_HOST="https://my-cdn-example.cloudfront.net"
